In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv(r'C:\Users\Kerry\mental_health_dataset.csv')

print(df.head())
df.shape

   age      gender employment_status work_environment mental_health_history  \
0   56        Male          Employed          On-site                   Yes
1   46      Female           Student          On-site                    No
2   32      Female          Employed          On-site                   Yes
3   60  Non-binary     Self-employed          On-site                    No
4   25      Female     Self-employed          On-site                   Yes

  seeks_treatment  stress_level  sleep_hours  physical_activity_days  \
0             Yes             6          6.2                       3
1             Yes            10          9.0                       4
2              No             7          7.7                       2
3              No             4          4.5                       4
4             Yes             3          5.4                       0

   depression_score  anxiety_score  social_support_score  productivity_score  \
0                28             17                    54                59.7
1                30             11                    85                54.9
2                24              7                    62                61.3
3                 6              0                    95                97.0
4                24             12                    70                69.0

  mental_health_risk
0               High
1               High
2             Medium
3                Low
4               High

(10000, 14)

In [4]:
df.isnull().sum()

age                       0
gender                    0
employment_status         0
work_environment          0
mental_health_history     0
seeks_treatment           0
stress_level              0
sleep_hours               0
physical_activity_days    0
depression_score          0
anxiety_score             0
social_support_score      0
productivity_score        0
mental_health_risk        0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.info

<bound method DataFrame.info of       age      gender employment_status work_environment  \
0      56        Male          Employed          On-site
1      46      Female           Student          On-site
2      32      Female          Employed          On-site
3      60  Non-binary     Self-employed          On-site
4      25      Female     Self-employed          On-site
...   ...         ...               ...              ...
9995   34      Female          Employed          On-site
9996   47        Male          Employed          On-site
9997   56      Female          Employed          On-site
9998   24        Male          Employed          On-site
9999   44        Male        Unemployed           Remote

     mental_health_history seeks_treatment  stress_level  sleep_hours  \
0                      Yes             Yes             6          6.2
1                       No             Yes            10          9.0
2                      Yes              No             7          7.7
3                       No              No             4          4.5
4                      Yes             Yes             3          5.4
...                    ...             ...           ...          ...
9995                   Yes             Yes             5          6.1
9996                   Yes              No             1          5.7
9997                   Yes              No             1          8.3
9998                   Yes             Yes             9          6.1
9999                    No             Yes             5          6.4

      physical_activity_days  depression_score  anxiety_score  \
0                          3                28             17
1                          4                30             11
2                          2                24              7
3                          4                 6              0
4                          0                24             12
...                      ...               ...            ...
9995                       3                 9             21
9996                       3                 5             12
9997                       0                 1             18
9998                       0                28             21
9999                       7                 1             16

      social_support_score  productivity_score mental_health_risk
0                       54                59.7               High
1                       85                54.9               High
2                       62                61.3             Medium
3                       95                97.0                Low
4                       70                69.0               High
...                    ...                 ...                ...
9995                     8                90.0             Medium
9996                    45                90.8             Medium
9997                     7                99.2             Medium
9998                    32                56.7               High
9999                    25               100.0             Medium

[10000 rows x 14 columns]>

In [7]:
df.describe()

,age,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,41.557600,5.572000,6.473000,3.505700,15.039900,10.56180,50.117700,77.312210
std,13.749581,2.887741,1.473944,2.282737,8.990839,6.32264,29.229278,14.061202
min,18.000000,1.000000,3.000000,0.000000,0.000000,0.00000,0.000000,42.800000
25%,30.000000,3.000000,5.500000,2.000000,7.000000,5.00000,25.000000,65.800000
50%,41.500000,6.000000,6.500000,4.000000,15.000000,11.00000,50.000000,77.600000
75%,53.000000,8.000000,7.500000,5.000000,23.000000,16.00000,76.000000,89.200000
max,65.000000,10.000000,10.000000,7.000000,30.000000,21.00000,100.000000,100.000000

In [8]:
df.columns

Index(['age', 'gender', 'employment_status', 'work_environment',
       'mental_health_history', 'seeks_treatment', 'stress_level',
       'sleep_hours', 'physical_activity_days', 'depression_score',
       'anxiety_score', 'social_support_score', 'productivity_score',
       'mental_health_risk'],
      dtype='object')